*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    align-items: center;
 background-image: url("./Images/background.jpg");
 font-style: italic;
 width: 90%;
 margin: auto;
 padding: auto;

}

.head{
    background-color: yellow;
}

p{
    font-family: Arial, sans-serif;
    font-size: 1.1em;
}

.image img{
    width: 60%;
    height: 400px;
}

.image{
    padding-left: 60px;
}

.image h1{
   text-decoration: underline;
  padding-left: 60px;
  padding-top: 1em;
  padding-bottom: 0.5em;
  color: azure;
}

.list{
    
    padding: 60px;
    text-transform: capitalize;
}

.list h3{
    font-size: 2em;
}


.long-p{
    padding-left: 60px;
}

.long-p h3{
    font-size: 2em;
}

.long-p p{
    box-shadow: 4px 4px 10px #199a7a;
   padding: 2em;
    width: auto;
}

.table{
    padding-top: 2em;
    padding-left: 60px;
}

.table p {
font-size: 1.5em;
    box-shadow: 1px 1px 10px #ebefee;
   padding: 2em;
    width: 700px;
}

.table table, td, th{
    border: 1px solid;
    text-align: center;
}

.table table{
    width: 80%;
    height: 200px;
    border-radius: 20px;
}

.table table td{
background-color: #e9f6f3;
font-style: italic;
font-size: 1.3rem;
}

.table table th{
    background-color: aqua;
    font-size: 2em;
    text-transform: uppercase;
}

.table .or {
    text-transform: capitalize !important;
}

.last-p{
    padding-left: 60px;
}

#good{
    color: green;
}

#bad{
    color: red;
}

.last-p p{
   

    box-shadow: 4px 4px 10px #9bb4ad;
   padding: 2em;
    width: auto;
}

.last-p a{
font-size: 3em;
}

footer{
    padding-left: 50px;
    
    text-align: center;
    font-size: 1.8em;
    padding-bottom: 2em;
}